/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: Verdana,Arial;
}

#app {
    width: 500px;
    height: 400px;
}

#header {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    background-color: #e1e7f5;
    font-size: 1.1rem;
    padding: 0.5em;
    border-bottom: 1px solid #1d439b;;
}

#header-left-side {
    display: flex;
    flex-direction: column;
}

.secondary-title {
    margin-top: 2px;
    color: grey;
    font-size: 1rem;
}

#content {
    margin-top: 0.25rem;
    display: flex;
}

#left-side {
    width: 225px;
    padding: 3px;
}

button {
    display: block;
    border: none;
    background-color: #4f74c8;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 6px;
    width: 100%;
    text-decoration: none;

}

#top {
    padding: 0.2rem;
}

#info-div {
    display: grid;
    grid-template-columns: auto 70px;
    padding-top: 10px;
}

#info-left-side {
    display: flex;
    gap: 9px;
    flex-direction: column;
}

#air-data {
    font-size: 1.4rem;
}

#air-data::first-letter {
    text-transform:capitalize;
}

#episodes {
    color: #323232;;
}

#score {
    color: #323232;;
    padding-top: 0.75rem;
    text-align: right;
    font-size: 1.2rem;
}

#score-icon {
    max-width: 20px;
    vertical-align: middle;
}

#score-data {
    padding-top: 1px;
    vertical-align: middle;
}

#synopsis {
    margin-top: 1.1rem;
    font-size: 0.9rem;
    color: #323232;;
    height: 275px;
    overflow: hidden;
    text-overflow: ellipsis;
}